
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url('https://fonts.cdnfonts.com/css/sergio-trendy');

@import "tailwindcss";

@layer base {
    :root {
      --color-pink: #D65C84;
      --color-brown: #59382C;
      --color-blue: #BFDCF9;
      --color-beige: #FAF0E6;
      --color-blueb: #BAD6EB;
      --color-marine: #081F6C;
      --color-milk: #F0E7D5;

    }
  
    /* Lägg till fonten för rubriker */
    h1, h2, h3, a {
      font-family: 'Josefin Sans', serif;
      font-family: 'Sergio Trendy', sans-serif;
      
    }
  
    /* Lägg till fonten som font-serif globalt */
    body,p {
      @apply font-serif;
      font-family: 'Josefin Sans', serif;
      
     
    }

    html {
        scroll-behavior: smooth;
      }
      
  }


  

  
  
